/* Menu Styles */

.header{
    background-image: url('images/head-back.jpg');
    background-size: cover;
}
.navbar{
    margin: 0 12% 2% 12%;
    width: 75%;
    padding-top: 1.2em;
}
.navbar-row{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul{
    list-style-type: none;
}
.nav-menu li{
    display: inline;
    padding: 8px;
    font-size: smaller;
}
.nav-menu a{
    text-decoration: none;
    color: white;
}

/* Header Styles */
/* for all pages except index page */

.head-content-col{
    color: white;
    height: 25em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.head-content-col h2{
    display: inline;
    font-size: xxx-large;
}
.head-content-col p{
    display: inline;
    font-size: larger;
}
.head-content-col a{
    text-decoration:none;
    color: white;
    margin: 0.5em;
    font-size: 14px;
}
.icon-arrow{
    font-size: 14px;
    margin-left: 1em;
    margin-right: 1em;
}
.head-content-row1{
    margin: 1em;
}
.head-content-row2{
    margin: 1em;
}

/* Home/ Index page styles */

.home-head-content-row2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.hc-row2-col1, .hc-row2-col2{
    width: 40%;
    padding: 1em;
    margin: 1em;
    color: white;
}
.hc-row2-col1 h1{
    font-size: xx-large;
    line-height: 1.1;
}
.hc-row2-col1 p{
    font-size: medium;
}
.hc-r2-c2-img{
    height: 24em;
}
.home-head-btn-ptag{
    margin-top: 2em;
}
.home-head-btn{
    color: black;
    background-color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}
.home-head-btn:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}