body{
    color: #777;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    margin: 0;
}
.outerdiv{
    width: 100%;
    height: 100%;
}

/* Home / Index */

.home-pc, .home-aboutus-content, .home-service{
    margin-bottom: 2em;
}

.home-blog-row1{
    text-align: center;
}
.home-blog-row1 h2{
    font-size: xx-large;
}
.home-blog-row1 p{
    font-size: medium;
}
.home-blog-img{
    background-image: url('images/home-content-img1.jpg');
}
.home-blog-img1{
    background-image: url('images/home-content-img2.jpg');
}
.hb-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    border-radius: 12px;
    margin-bottom: 2em;
}
.home-blog-row2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.hb-r2-col1, .hb-r2-col2{
    width: 40%;
    margin: 2em;
}
.hb-btn{
    background-color:#d496ff;
    padding: 0.5em 1em;
    color: white;
    font-weight: 400;
    padding: 1em 1.5em;
    text-decoration: none;
}
.hb-btn:hover{
    color: black;
    border: 1px solid #d8d8d8;
}
.h-b-row2-col1-row2, .h-b-row2-col2-row2 h4{
    font-weight: 600;
    font-size: larger;
}
.h-b-row2-col1-row2, .h-b-row2-col2-row2 p{
    font-weight: 400;
    font-size: medium;
}

/* Services */

.sevices-col1, .services-col2{
    padding: 1em;
   }
   .services-col2{
    background-image: url('images/services-content-img.jpg');
   }
   .h30{
    width: 30%;
    margin: 1em;
    height: 32em;
   }
   .h-30{
    width: 27%;
    margin: 1em;
    background-color: white;
    height: 12em;
    border-radius: 12px;
    padding: 1.2em;
   }
   .services-col2-row1{
    text-align: center;
    color: white;
   }
   .services-col2-row1 h3{
    font-size: xx-large;
   }
   .services-col2-row1 p{
    font-size: medium;
   }
   .services-col2-row2, .services-col2-row3{
    padding: 0 2em;
   }
   .col2-icon{
    padding:0.2em;
    margin: 0.9em;
   }
   .s-img, .s-img-dec, .services-col1-row1{
    text-align:center;
   }
   .s-img img{
    width: 300px;
   }

/* Product */


.product-content{
    padding: 2.5em;
    background-color: #F9F9FF;
}
.pc-col1, .sevices-col1, .services-col2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.pc-col1-row1{
    margin: 2em;
    text-align: center;
}
.pc-col1-row1, .services-col1-row1 h3{
    font-size: xx-large;
}
.pc-col1-row1, .services-col1-row1 p{
    font-size: medium;
}
.pc-col1-row2, .pc-col1-row3, .pc-col1-row4, .pc-col1-row5, .services-col1-row2, .services-col2-row2, .services-col2-row3, .ab-row1, .ab-row2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding:2em;
}
.pc-img-dec{
    background-color: #F9F9FF;
    padding: 1em;
    margin-top: 2.2em;
    height: 12em;
}
.h-20{
    width: 20%;
    text-align: center;
    margin: 2%;
}
.pc-btn{
    text-decoration: none;
    padding:0.8em 1em;
    font-size: 111%; 
    background-color: white;
    color: black;
    border-radius: 12px;
    margin-top: 2%;
}
.pc-btn:hover{
    color: white;
    background-image: linear-gradient(to right,#828fff 0%,#d496ff);
}

/* About Us */

.ab-row1-col1, .ab-row1-col2, .ab-row2-col1, .ab-row2-col2{
    width: 45%;
}
.ab-row2-col1 img{
    width: 100%;
}
.ab-row1-col1, .ab-row2-col2{
    padding: 1em;
    margin: 1em;
}
.ab-row1-col1 h2{
    font-size: xx-large;
}
.ab-row1-col1, .ab-row2-col2 h3{
    font-size: large;
}
.ab-row1-col1, .ab-row2-col2 p{
    font-size: medium;
}
.ab-r1-c1-ptag{
    color: #828fff;
}
.ab-row1-col2{
    background-image: linear-gradient(to right bottom,rgba(130, 143, 255,0.8) 0%,rgba(212, 150, 255,0.8)),
                        url('images/ab-overlay-img.jpg');
    background-position: center;                                    
    background-size: contain;
    background-repeat: no-repeat;
    height: 20em;
}
.ab-img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.ab-btn-ptag{
    margin-top:1.5em ;
}
.ab-btn{
    text-decoration: none;
    padding:0.8em 1em;
    font-size: 111%;
    color: white;
    background-image: linear-gradient(to right bottom,#828fff 0%,#d496ff);
    border-radius: 12px;
}

/* Contact US */

.contact-content{
    height: 70em;
}
.content-contact-map{
    padding: 5em;
    height: 25em;
}
.content-contact-details{
    padding: 2em;
    height: 26em;
    background-color: #F8F9FA;
}
.contact-display{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}
.contact-icon{
    margin: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.contact-details{
    width: 74%;
}
.contact-icon span{
    font-size: larger;
    padding: 0.2em;
}
.fas-icons{
    font-size: x-large;
}
.contact-phoneicon, .contact-homeicon, .contact-emailicon{
    height: 2em;
    width: 4em;
}
.contact-col2{
    width: 60%;
    height: 21.7em;
}
.content-contact-form{
    flex-flow: row;
    width: 100%;
}
.contact-form-col1{
    width: 100%;
    margin-left: 2em;
}
.contact-sub{
    margin-bottom: 0;
}
.contact-form-col2{
    width: 100%;
    margin: 2em;
    margin-bottom: 0;
    margin-top: 0;
}
.contact-form-col1 input{
    display: block;
    padding: 1em;
    margin-bottom: 2em;
    width: 100%;
}
.contact-form-col2 textarea{
    display: block;
    padding: 1em;
    float: left;
    font-family: "Poppins",sans-serif;
}
.contact-submit{
    margin-left: 2em;
}
.contact-submit a{
    background-color: #2488FA;
    color: white;
    padding: 1em;
    border-radius: 12px;
    text-decoration: none;
}

/* Login */

.login-signup-bg{
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}
.login-content{
    padding: 1em;
    margin: 2em;
}
.login-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: white;
}
.login-col1{
    width: 27%;
    margin: 1.5em;
    padding: 1em;
}
.login-col2{
    width: fit-content;
    margin: 1.5em;
    padding: 1em;
}
.login-heading{
    text-align: center;
    padding: 0.2em;
    margin-left: 2em;
}
.login-img{
    width: 100%;
}
.form-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: unset;
    padding: 2em;
    margin-left: 2.5em;
}
.icon-span{
    top: 30;
    position: relative;
    left: 16;
}
.input-em-pass{
    border: none;
    line-height: 1.5;
    width: 100%;
    padding: 1em;
    padding-left: 3em;
    background-color: #e6e6e6;
    border-radius: 112px;
    margin-bottom: 1em;
}
.input-btn{
    border: none;
    line-height: 1.5;
    width: 100%;
    padding: 1em;
    background-color: #57b846;
    border-radius: 112px;
    margin-bottom: 1em;
}
.form-atag{
    text-decoration: none;
    color: #666;
    margin: 1em;
}
.fp-ptag{
    text-align: center;
}
.fp-span:hover{
    color: #57b846;
}
.ptag-cr{
    text-align: center;
    padding: 0.2em;
    margin-left: 2.3em;
}

/* Sign Up */

.em-input, .pass-label{
    width: 18em;
}
.em-pass{
    border: none;
    line-height: 1.5;
    width: 100%;
    padding: 1em;
    padding-left: 3em;
    background-color: #e6e6e6;
    border-radius: 112px;
}
.em-cpass{
    border: none;
    line-height: 1.5;
    width: 100%;
    padding: 1em;
    padding-left: 3em;
    background-color: #e6e6e6;
    border-radius: 112px;
    margin-bottom: 1em;
}
.iconn-arrow{
    margin-left: 0.2em;
}